<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

    <head th:replace="layout :: site-head">
        <title>Spring MVC Application - Create Post</title>
    </head>

    <header th:replace="layout :: logged-in"></header>

    <h1>Create New Post</h1>

    <form th:action="@{/posts/create}" th:method="POST" th:object="${Post}" >
        <div>Post Title:</div>
        <div><input type="text" id="title" name="title" th:field="${Post.title}" /> </div>
        <div>Post Descrption:</div>
        <div><textarea rows="7" cols="100" name="body" th:field="${Post.body}" /></div>
        <div><input type="submit" value="Create"/></div>
    </form>

</html>