<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

    <head th:replace="layout :: site-head">
        <title>Spring MVC Application - Login</title>
    </head>

    <header th:replace="layout :: logged-out"></header>

    <h2>Please Login:</h2></br>
    <form th:action="@{/users/login}"  method="post" th:object="${User}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" /></br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" /></br>
        <input type="submit" value="Login"/>
    </form>

</html>